/* Affects the whole layout */
.sakura-mp {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Affects the player name display */
.sakura-mp-rank {
    font-size: 1.6em;
    padding-right: 5px;
}

/* Affects the player name display */
.sakura-mp-player {
    font-size: 1.8em;
}

/* Affects the player name display */
.sakura-mp-acc {
    padding: 5px 10px;
    font-size: 1.5em;
    float: right;
}

/* Affects the player name display */
.sakura-mp-score {
    font-size: 1.9em;
    color: antiquewhite;
    float: right;
}
