@using Microsoft.Extensions.Localization
@using BeatSaber_FakeMultiplay.Client.ResourceFiles.Shared
@using Toolbelt.Blazor.PWA.Updater
@inherits LayoutComponentBase
@inject IStringLocalizer<SharedResource> _localizer

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <CultureSelector/>
            <a href="https://discord.gg/gHWJ2JTre7" target="_blank">@_localizer[nameof(SharedResource.SupportLinkText)]</a>
            <a href="https://sakura.live/" target="_blank">@_localizer[nameof(SharedResource.AboutMeLinkText)]</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<PWAUpdater />
